### if문

In [5]:
# 1330번
a, b = map(int, input().split())

if a > b:
    print('>')
elif b > a:
        print('<')
else :
        print('==')

1 2
<

In [14]:
# 9498번
score = int(input())

if 90 <= score <= 100 :
    print('A')
elif 80 <= score < 90 :
    print('B')
elif 70 <= score < 80 :
    print('C')
elif 60 <= score < 69 :
    print('D')
else :
    print('F')

100
A

In [18]:
# 2753번
year = int(input())

if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print('1')
else :
    print('0')

2000
1

In [20]:
# 14681번
x = int(input())
y = int(input())

if x > 0 and y > 0:
    print(1)
elif x > 0 and y < 0 :
    print(4)
elif x < 0 and y > 0:
    print(2)
else :
    print(3)

12
5
1

In [24]:
# 2884번 알람 시계
h, m = map(int, input().split())

m = m-45

if m < 0 :
    h = h-1
    if h < 0 :
        h = h + 24
    m = m + 60
    print(h,m)
else :
    print(h, m)

23 40
22 55

### for문

In [26]:
# 2739번 구구단
n = int(input())

for i in range(1, 10):
    print(n,'*',i,'=',n*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [3]:
# 1098번 A+B-3
t = int(input())

for i in range(t):
    a, b = map(int, input().split())
    print(a + b)

5
1 1
2 3
3 4
9 8
5 2
7

In [1]:
# 8393번 합
n = int(input())
a = 0

for i in range(1, n+1) :
    a += i
print(a)

3
6

입력값을 받을 때 input()함수를 사용하지만, 시간 단축을 위해 sys.stdin.readline을 사용한다.
- 입력을 조금 받는 경우는 속도에서 큰 차이가 없지만, 수천 수만 번 입력 받을 때에는 큰 차이를 보인다.


- 입출력 속도 비교 : sys,stdin.readline > raw_input() > input()
- num = int(input()) -> num = int(sys.stdin.readline())
- 사용시, import sys 선언이 필요하다.
- 맨 끝의 개행문자까지 같이 입력받기 때문에 문자열을 저장하고 싶을 경우 .rstrip()(오른쪽 공백 제거. 여러 줄 입력 받을 때 /n도 같이 들어오게 되는데 이때 사용)을 추가로 해주는 것이 좋다.
- rstrip을 하라는 건 문자열 자체를 변수에 저장하고 싶을 때 얘기지, 개행문자가 맨 끝에 들어와도 int 변환이나 split()을 그대로 할 수 있습니다. 즉 int(sys.stdin.readline()), sys.stdin.readline().split() 이렇게 해도 아무 문제 없습니다. 참고로 이름이 꽤 길기 때문에 저는 input = sys.stdin.readline을 맨 처음에 함으로써 쓰는 편입니다.


- 여러 라인 입력 받을 경우
    - a = [sys.stdin.readline() for i in range(n)]

- 한 라인 입력 : sys.stdin.readline
- 여러 줄 입력 : sys.stdin :
    - for line in sys.stdin:
         - print(line)

- 재귀 깊이 설정하기 : sys.setrecursionlimit(10**8) # 10^8까지 늘린다

In [1]:
# 15552번 빠른 A+B
# 주피터에서는 sys.stdin 안됨..
import sys

t = int(input())

for i in range(t):
    a, b = map(int, sys.stdin.readline().split())
    print(a+b)

ValueError: invalid literal for int() with base 10: ''

In [2]:
# 2741번 N찍기
n = int(input())
for i in range(1, n+1):
    print(i)

5
1
2
3
4
5

In [6]:
# 11022번 A+B - 8
t = int(input())
for i in range(1, t+1):
    a, b = map(int, input().split())
    print('Case #{0}: {1} + {2} = {3}'.format(i, a, b, a+b))

1
1 1
Case #1: 1 + 1 = 2

- rjust: 오른쪽 정렬 / ljust: 왼쪽 정렬
- a.rjust(10, '#') 하면 공백을 #로 채워넣는다.

In [12]:
# 2439번 별 찍기-2
n = int(input())

for i in range(1,n+1) :
    a = '*' * i
    print(a.rjust(n))

5
    *
   **
  ***
 ****
*****

In [19]:
# 10871번

n, x = map(int, input().split())
a = list(map(int, input().split()))

for i in a :
    if i < x :
        print(i, end=' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

### While문

In [31]:
# 10952번 A+B -5
a, b = (map(int, input().split()))

while a > 0 and b > 0:
    print(a+b)
    a, b = map(int, input().split())

1 1
2
2 2
4
0 0

In [ ]:
# 10951번 A+B -4
a,b=(0,0)
while 1:
    try:
        a,b=map(int,input().split())
        print(a+b)
    except:
         break

In [94]:
# 1110번 더하기 사이클
n = int(input())
z = n
i = 0
while True :
    i += 1
    if n < 10 :
        n = str(0) + str(n)
    n_str = str(n)
    x = n_str[0]
    y = n_str[1]
    
    a = int(x) + int(y)
    a = str(a)
    if int(a) < 10 :
        a = str(0) + a
    a_str = a[1]
    
    n = int(y) + int(a_str)
    if z == n :
        break
print(i)

26

KeyboardInterrupt:

In [92]:
n = 26
if n < 10 :
    n = str(0) + str(n)
n_str = str(n)
x = n_str[0]
y = n_str[1]
print(x, y, n_str)

a = int(x) + int(y)

if a < 10 :
     a = str(0) + str(a)
a_str = str(a[1])

print(a, a_str, type(a))

n = int(y) + int(a_str)
print(n, type(n))

2 6 26
08 8 <class 'str'>
14 <class 'int'>

In [86]:
n_str = str(26)
print(n_str)

26

In [55]:
type(a)

int

In [58]:
n = str(input())
a = int(n[0]) + int(n[1])
a
if int(a)< 10 :
    a = str(0) + str(a)
a = str(a)
n = n[1] + a[1]
print(n)

68
84

### 1차원 배열

In [3]:
# 10818번 최소, 최대
n = int(input())
a = list(map(int, input().split()))
print(min(a), max(a))

5
20 10 35 30 7
7 35

In [4]:
# 2562번 최댓값
a = []
for i in range(9):
    n = int(input())
    a.append(n)
print(max(a))
print(a.index(max(a))+1)

3
29
38
12
57
74
40
85
61
85
8

In [8]:
# 2577번 숫자의 개수
a = int(input())
b = int(input())
c = int(input())

x = str(a*b*c)
z = []

for i in x :
    z.append(int(i))

print(z.count(0))
print(z.count(1))
print(z.count(2))
print(z.count(3))
print(z.count(4))
print(z.count(5))
print(z.count(6))
print(z.count(7))
print(z.count(8))
print(z.count(9))

150
266
427
3
1
0
2
0
0
0
2
0
0

In [9]:
# 3052번 나머지
number = []
for _ in range(10) :
    a = int(input())
    b = a % 42
    if b not in number :
        number.append(b)
print(len(number))

1
2
3
4
5
6
7
8
9
10
10

In [44]:
# 1542번 평균
n = int(input())
score = list(map(int, input().split()))

print(sum(score)/max(score)*100/n)

# mean은 판다스함수,,

In [55]:
# 8958번 OX퀴즈
n = int(input())

for i in range(n):
    case = input()
    score = 0
    total = 0
    for i in case :
        if i == 'O' :
            score += 1
            total += score
        else :
            score = 0
    print(total)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

In [ ]:
# 4344번 평균은 넘겠지
c = int(input())


for i in range(c) :
    score = list(map(int, input().split()))
    n = score[0] # 학생수
    del score[0]
    mean = sum(score)/n # 평균구하기
    g_student = 0 # 평균 넘는 학생들 받을 변수
    
    # 평균 넘는 학생들 뽑아내기
    for j in score :
        if j > mean :
            g_student += 1
            
    print("%.3f" %(g_student/n*100),end='')
    print("%")

In [ ]:
# 15596번 정수 N개의 합

def solve(a):
    return sum(a)

In [1]:
# 4673번 < 셀프 넘버 >

def d(n):
    sum = n
    for i in range(len(str(n))):
        sum += int(str(n)[i])
    return sum

inself = []
for i in range(0, 10000):
    inself.append(d(i))

for i in range(0, 10000):
    if i not in inself:
        print(i)

1
3
5
7
9
20
31
42
53
64
75
86
97
108
110
121
132
143
154
165
176
187
198
209
211
222
233
244
255
266
277
288
299
310
312
323
334
345
356
367
378
389
400
411
413
424
435
446
457
468
479
490
501
512
514
525
536
547
558
569
580
591
602
613
615
626
637
648
659
670
681
692
703
714
716
727
738
749
760
771
782
793
804
815
817
828
839
850
861
872
883
894
905
916
918
929
940
951
962
973
984
995
1006
1021
1032
1043
1054
1065
1076
1087
1098
1109
1111
1122
1133
1144
1155
1166
1177
1188
1199
1210
1212
1223
1234
1245
1256
1267
1278
1289
1300
1311
1313
1324
1335
1346
1357
1368
1379
1390
1401
1412
1414
1425
1436
1447
1458
1469
1480
1491
1502
1513
1515
1526
1537
1548
1559
1570
1581
1592
1603
1614
1616
1627
1638
1649
1660
1671
1682
1693
1704
1715
1717
1728
1739
1750
1761
1772
1783
1794
1805
1816
1818
1829
1840
1851
1862
1873
1884
1895
1906
1917
1919
1930
1941
1952
1963
1974
1985
1996
2007
2022
2033
2044
2055
2066
2077
2088
2099
2110
2112
2123
2134
2145
2156
2167
2178
2189
2200
2211
2213
2224
2235
2246
2257
2268
2279
2290
2301
2312
2314
2325
2336
2347
2358
2369
2380
2391
2402
2413
2415
2426
2437
2448
2459
2470
2481
2492
2503
2514
2516
2527
2538
2549
2560
2571
2582
2593
2604
2615
2617
2628
2639
2650
2661
2672
2683
2694
2705
2716
2718
2729
2740
2751
2762
2773
2784
2795
2806
2817
2819
2830
2841
2852
2863
2874
2885
2896
2907
2918
2920
2931
2942
2953
2964
2975
2986
2997
3008
3023
3034
3045
3056
3067
3078
3089
3100
3111
3113
3124
3135
3146
3157
3168
3179
3190
3201
3212
3214
3225
3236
3247
3258
3269
3280
3291
3302
3313
3315
3326
3337
3348
3359
3370
3381
3392
3403
3414
3416
3427
3438
3449
3460
3471
3482
3493
3504
3515
3517
3528
3539
3550
3561
3572
3583
3594
3605
3616
3618
3629
3640
3651
3662
3673
3684
3695
3706
3717
3719
3730
3741
3752
3763
3774
3785
3796
3807
3818
3820
3831
3842
3853
3864
3875
3886
3897
3908
3919
3921
3932
3943
3954
3965
3976
3987
3998
4009
4024
4035
4046
4057
4068
4079
4090
4101
4112
4114
4125
4136
4147
4158
4169
4180
4191
4202
4213
4215
4226
4237
4248
4259
4270
4281
4292
4303
4314
4316
4327
4338
4349
4360
4371
4382
4393
4404
4415
4417
4428
4439
4450
4461
4472
4483
4494
4505
4516
4518
4529
4540
4551
4562
4573
4584
4595
4606
4617
4619
4630
4641
4652
4663
4674
4685
4696
4707
4718
4720
4731
4742
4753
4764
4775
4786
4797
4808
4819
4821
4832
4843
4854
4865
4876
4887
4898
4909
4920
4922
4933
4944
4955
4966
4977
4988
4999
5010
5025
5036
5047
5058
5069
5080
5091
5102
5113
5115
5126
5137
5148
5159
5170
5181
5192
5203
5214
5216
5227
5238
5249
5260
5271
5282
5293
5304
5315
5317
5328
5339
5350
5361
5372
5383
5394
5405
5416
5418
5429
5440
5451
5462
5473
5484
5495
5506
5517
5519
5530
5541
5552
5563
5574
5585
5596
5607
5618
5620
5631
5642
5653
5664
5675
5686
5697
5708
5719
5721
5732
5743
5754
5765
5776
5787
5798
5809
5820
5822
5833
5844
5855
5866
5877
5888
5899
5910
5921
5923
5934
5945
5956
5967
5978
5989
6000
6011
6026
6037
6048
6059
6070
6081
6092
6103
6114
6116
6127
6138
6149
6160
6171
6182
6193
6204
6215
6217
6228
6239
6250
6261
6272
6283
6294
6305
6316
6318
6329
6340
6351
6362
6373
6384
6395
6406
6417
6419
6430
6441
6452
6463
6474
6485
6496
6507
6518
6520
6531
6542
6553
6564
6575
6586
6597
6608
6619
6621
6632
6643
6654
6665
6676
6687
6698
6709
6720
6722
6733
6744
6755
6766
6777
6788
6799
6810
6821
6823
6834
6845
6856
6867
6878
6889
6900
6911
6922
6924
6935
6946
6957
6968
6979
6990
7001
7012
7027
7038
7049
7060
7071
7082
7093
7104
7115
7117
7128
7139
7150
7161
7172
7183
7194
7205
7216
7218
7229
7240
7251
7262
7273
7284
7295
7306
7317
7319
7330
7341
7352
7363
7374
7385
7396
7407
7418
7420
7431
7442
7453
7464
7475
7486
7497
7508
7519
7521
7532
7543
7554
7565
7576
7587
7598
7609
7620
7622
7633
7644
7655
7666
7677
7688
7699
7710
7721
7723
7734
7745
7756
7767
7778
7789
7800
7811
7822
7824
7835
7846
7857
7868
7879
7890
7901
7912
7923
7925
7936
7947
7958
7969
7980
7991
8002
8013
8028
8039
8050
8061
8072
8083
8094
8105
8116
8118
8129
8140
8151
8162
8173
8184
8195
8206
8217
8219
8230
8241
8252
8263
8274
8285
8296
8307
8318
8320
8331
8342
8353
8364
8375
8386
8397
8408
8419
8421
8432
8443
8454
8465
8476
8487
8498
8509
8520
8522
8533
8544
8555
8566
8577
8588
8599
8610
8621
8623
8634
8645
8656
8667
8678
8689
8700
8711
8722
8724
8735
8746
8757
8768
8779
8790
8801
8812
8823
8825
8836
8847
8858
8869
8880
8891
8902
8913
8924
8926
8937
8948
8959
8970
8981
8992
9003
9014
9029
9040
9051
9062
9073
9084
9095
9106
9117
9119
9130
9141
9152
9163
9174
9185
9196
9207
9218
9220
9231
9242
9253
9264
9275
9286
9297
9308
9319
9321
9332
9343
9354
9365
9376
9387
9398
9409
9420
9422
9433
9444
9455
9466
9477
9488
9499
9510
9521
9523
9534
9545
9556
9567
9578
9589
9600
9611
9622
9624
9635
9646
9657
9668
9679
9690
9701
9712
9723
9725
9736
9747
9758
9769
9780
9791
9802
9813
9824
9826
9837
9848
9859
9870
9881
9892
9903
9914
9925
9927
9938
9949
9960
9971
9982
9993

### 문자열

In [2]:
# 11654번 아스키 코드
a = input()
print(ord(a))

A
65

In [9]:
# 11720번 숫자의 합

n = int(input())
l = input()
total = 0

for i in range(n) :
    a = int(l[i])
    total += a
print(total)

5
54321
15

In [19]:
# 10809번 알파벳찾기

word = input()
l = [-1 for _ in range(26)]

for i in range(len(word)):
    word_1 = word[i]
    word_ord = ord(word_1)
    # 아스키코드 활용 97을빼준다(a=97이기 때문)
    if l[word_ord - 97] == -1:
        l[word_ord - 97] = i

for i in l :
    print(i, end=' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [20]:
# 2675번 문자열 반복

n = int(input())

for i in range(n) :
    r, s = input().split()
    for j in range(len(s)) :
        print(s[j] * int(r), end='')
    print()

2
3 ABC
AAABBBCCC5 /HTP
/////HHHHHTTTTTPPPPP

In [153]:
# 1157번 단어 공부

word = input()
word_lower = list(word.lower())
word_set = list(set(word_lower))
word_count = {}

if len(word_set) > 1 :
    for i in range(len(word_set)) :
        a = word_lower.count(word_set[i])
        word_count[word_set[i]] = a
    word_sort = sorted(word_count, key= lambda x : word_count[x], reverse = True)
    if word_count[word_sort[0]] == word_count[word_sort[1]] :
        print('?')
    else :
        k = word_sort[0]
        print(k.upper())
else :
    print(word_set[0].upper())

z
Z

In [154]:
# 1152번 단어의 개수

word = input().split()

print(len(word))

The curis
2

In [165]:
# 2908번 상수

a, b = input().split()
c = [0, 0, 0]
d = [0, 0, 0]

for i in range(2) :
    for j in range(3) :
        c[-(j+1)] = a[j]
    number1 = c[0] + c[1] + c[2]
    
    for k in range(3) :
        d[-(k+1)] = b[k]
    number2 = d[0] + d[1] + d[2]
    
print(number1 if number1 > number2 else number2)

734 893
437

In [208]:
# 5622번 다이얼

# 전화번호
phone = { '1':1, 'A':2, 'B':2, 'C':2, 'D':3, 'E':3, 'F':3, 'G':4, 'H':4, 'I':4,
        'J':5, 'K':5, 'L':5, 'M':6, 'N':6, 'O':6, 'P':7, 'Q':7, 'R':7, 'S':7,
        'T':8, 'U':8, 'V':8, 'W':9, 'X':9,'Y':9, 'Z':9, '0':10}

word = input()
number = []
time = 0

for i in range(len(word)) :
    number.append(phone[word[i]])
    time += number[i]
    
print(time + len(word))

UNICIA
32

In [240]:
# 2941번 크로아티아 알파벳

alphabet = {'c=':'č', 'c-':'ć', 'dz=':'dž', 'd-':'đ', 'lj':'lj' ,
           'nj':'nj', 's=':'š', 'z=':'ž'}

word = input()
word_count = 0
check = []
d_1 = 0

for i in range(len(word)):
    if word[i:i+3] in alphabet :
        word_count += 1
        check.append(word[i:i+3])
        d_1 += 1
    elif word[i:i+2] in alphabet :
        word_count += 1
        check.append(word[i:i+2])
        d_1 +=1
    else :
        word_count += 1
        check.append(word[i])

print(word_count - d_1)

ddz=z=
3

In [243]:
# 1316번 그룹 단어 체커

n = int(input())
word = []

for _ in range(n):
    a = list(input())
    word.append(a)
    
for i in word :
    word_set = set(i)
    for j in word_set :
        for k in range(len(word)) :
            if word[i][k] == j :
                a += 1

3
happy
new
year

In [244]:
word

[['h', 'a', 'p', 'p', 'y'], ['n', 'e', 'w'], ['y', 'e', 'a', 'r']]

In [202]:
time

48

### 기본 수학 1

In [15]:
# 1712번 손익분기점

fixed_cost, variable_cost, price = map(int, input().split())
i = 1

while True :
    if variable_cost >= price :
        print(-1)
        break
    a = fixed_cost + (variable_cost *i) > (price *i)
    i += 1
    if a == False :
        print(i)   
        break

3 2 1
-1

In [21]:
# 1712번 손익분기점

fixed_cost, variable_cost, price = map(int, input().split())
if variable_cost < price :
    print(fixed_cost//(price-variable_cost)+1)
else :
    print(-1)

1000 70 170
11

In [45]:
# 2292번 벌집

n = int(input())
point = 1

for i in range(n):
    point+=6*i
    if point>=n:
        print(i+1)
        break

54
5

In [18]:
# 1193번 분수찾기

x = int(input())
a = 0
b = 0
num = 0

for i in range(1, x+1):
    num += i
    if num >= x :
        order = num - x
        if (i % 2) == 1 :
            a = 1 + order
            b = i - order
        else :
            a = i - order
            b = 1 + order
        print(a, end='')
        print('/', end='')
        print(b)
        break

2
1/2

In [36]:
# 2869번 달팽이는 올라가고 싶다

a, b, v = map(int, input().split())
h = v-a
if h%(a-b) == 0:
    print(h//(a-b)+1)
else :
    print(h//(a-b)+2)

4 2 8
3

In [74]:
# 10250번 ACM 호텔

# 케이스 입력받기 
t = int(input())

# h: 호텔의 층수, w: 각 층의 방 수, n: 몇 번째 손님인지

for i in range(t) :
    h, w, n = map(int, input().split())
    print(n % h if (n%h)!=0 else h, end='')
    print("%02d" %(n//h+1) if (n%h)!=0 else "%02d" %(n//h))

1
6 12 12
602

In [76]:
# 2775번 부녀회장이 될테야

# a층의 b호에 살려면 자신의 아래(a-1)층의 
# 1호부터 b호까지 사람들의 수의 합만큼 사람들을 데려와 살아야 한다

# 테스트 케이스 입력받기
t = int(input())
for i in range(t) :
    # k(층), n(호) 입력받기
    k = int(input())
    n = int(input())
    
    if n != 1 :
        apart = list(range(1, n+1))
        for j in range(k):
            for z in range(1,n):
                apart[z] = apart[z-1]+apart[z]
        print(apart[-1])
    else :
        print(1)

1
2
3
10

# vbprc63g3g